* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto!';
  src: local('Roboto');
  src: url(../fonts/Roboto-Regular.ttf)
}

body{
  background-color:#ffe2B0;
}

header{
  text-align: center; /* действет только на то, что внутри тега;применяется к обертке*/
  margin-bottom: 30px; /* отодвигаем менюшку через изображение */
}

.header-img{
  padding-top: 15px;
}

 .list{
  list-style-type: none;
  text-align: center;
  padding: 0px;
 }

 li{
  display: inline; /* сделали li строчным элементом,чтоюы он не занимал все пространство */
  margin-right: 100px;
  
 }

 a{
  color:rgb(149, 105, 57);
  text-decoration: none;
  font-size: 22px;
 }

/* отступы задаются направо и вниз (margin-bottom и margin-rigре) (margin - внешний отступ) */
/* элемент не толкает сам себя. его толкает его левый или верхний элемент (сосед) */
/* если нет соседнего элемента сверху или слева, мы используем padding top или padding left у "у родителя" */

nav{
  margin-bottom: 30px;
}

/* псевдо-классы нужны,чтобы стилизовать что-то динамическое (a:) */

a:hover{
  color: rgb(12, 6, 1);
}

li:last-child{
  margin-right: 0px ;
}

/* (../) - вызод из папки*/

.section-about{
  height: 640px;
  background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat scroll;
  margin-bottom: 20px;
  position: relative; /* чтобы section-about-block позиционировался от родителя, а не от body */

}
/* _________________ */
/* BACKGROUND */
/* _________________ */
/* шаблон: background: url top left/50px 50px no repeat scroll */
/* использование img: для изображений,которые являются частью контента (логотип,иконки,картинки для примеров,картинки ссылки) */
/* использование background: для изображений,которые являются стилистическим оформлением сайта (каринка фона,картинки оформленя)*/
/* background-image - свойство для указания пути к фоновому изображению */
/* background-position - свойство для указания месторасполодения изображения в контейнере */
/* background-size - свойство для указания размера фонового изображения */
/* background-repeat - свойство,которое обязывает изображение повторятся/не повторяться в контейнере */
/* background-attachment - свойство,которое настраиает отображение при прокрутке страницы */
/* _________________ */
/* POSITION */
/* __________________ */
/* position: static - элемент ведет себя как обычно. могут применть для отката к исходному позиционированию элемнта */
/* position: relative - элемент будет отталкиваться от родительского элемента или от соседей */
/* position: absolute - вырывает элемент из потока и ведёт себя так, словно нет никаких соседей. позиционируется от body, если рдительскому элементу не задано свойство position: reltive */
/* position: fixed - фиксирует элемент при прокрутке */
/* position: sticky - фиксирует только тогда,когда до него дойдём */ 
/* используется, когда нужно сделать всплывающее окно или спозиционировать один элемент над другим */
/* _________________ */
/* Z - INDEX */
/* __________________ */
/* z-index работает только с позиционрованными элементами 
по умолчанию у всех эементов z-index равен 0*/

.section-about-block{
  width: 420px;
  height: 190px;
  background: linear-gradient(180deg, rgba(244, 213, 178, 0.8), 40%, rgba(234, 156, 65, 0.8)100%);
  position: absolute; /* чтобы не было доп смещений при добавлении доп элементов к родителю */
  top: 54%; /* 349/640*100=54% */
  left:50%; /* 730/1440*100=50% */
  padding-top: 15px;
}

.section-about-border{
  width: 390px;
  text-align: left;
  height: 160px;
  border: 1px solid black;
  padding: 17px 0 0 28px;
  margin: 0 auto; /* задаются отступы от section-about-block. вместо 4 значений оставляем по два и каждое из этих двух распространяется на пары(верхний-нижний)(правый-левый)
  margin 0 auto - будет работать только когда у элемента задано свойство with, то есть, у блочного элемента, который выравнивается, должна быть конкретная ширина, иначе этот элемент занимает все пространство и отступы сделать будет неоткуда */
}

.section-about-heading{
  margin:0;
  font-size: 36px;
  margin-bottom: 9px;
}

.section-about-text{
  margin:0;
  margin-right: 10px;
  font-size: 18px;
}

.setion-discription{
  margin-bottom: 30px;
}

.setion-discription-icons-box{
  text-align: center;
  margin-bottom: 20px;

}

/* img{

} - селектор тега

_________________

.section-about{

} - селектор класса - можно приписывать любм элементам бесконечное количество раз
_________________
*{

}
_________________
#какое-то название{

} - уникальный идентификатор
 идентификатор один на странице,его можно использовать только с одним эелементом. с его помощью моно обращаться к определенному элементу 
 __________________
 */


 .setion-discription-icons-box img{
  margin-right: 76px;
 } /* - обращение ко всем дочерним элементам родителя */

 .setion-discription-icons-box img:last-child{
  margin: 0%;
}


.setion-discription-text-box-heading{
  font-size: 96px;
  text-align: center; /* работает так как текст блочный */
  margin:0;
  margin-bottom: 25px;
}

.setion-discription-span{
  color: #da573a;
}

.setion-discription-text-box-paragraph{
  text-align: center;
  font-size: 23px;
  margin: 0px;
  width: 1000px;
  margin:0 auto
}

.section-map{
  margin-bottom: 30px;
}

.section-map-heading{
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

iframe{
  display: block;
  margin: 0 auto;
}

.line{
  border-top: 1px #999999 solid;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.footer{
  height: 100px;
}

.down{
  padding-bottom: 80px;
}

h1{
  font-family: 'Roboto!'
}